html,body {
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
  background-color: #f7f7f7;
}
.jdm {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

/* 固定搜索 */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #c91523;
  /* position: relative; */
  z-index: 10;
}

/* logo */
header .jdm-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 56px;
  height: 21px;
  background-image: url("../image/jd-sprites.png");
  background-size: 200px 200px;
  background-position: 0 -109px;
}
/* 搜索框 */
header .search-box {
  width: 100%;
  height:100%;
  padding-left: 75px;
  padding-right: 50px;
  box-sizing: border-box;
  position: relative;
}

header .search-box .icon-search {
  position: absolute;
  top:5px;
  left:80px;
  width: 20px;
  height: 30px;
  background-image: url("../image/jd-sprites.png");
  background-size: 200px 200px;
  background-position: -59px -104px;;
}

header .search-box input {
  width: 100%;
  height: 30px;
  border: 1px solid #fff;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 14px;
  padding-left: 30px;
}

header .jdm-login {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;

}

/* 主要内容区域 */
main {
  width: 100%;
  padding-bottom: 500px;
}

/* 轮播图 */

.carousel {
  width: 100%;
}

.carousel img {
  width: 100%;
}

/* 导航 */
.nav {
  width: 100%;
  padding-top: 10px;
  background-color: #fff;
}

.nav ul {
  width: 100%;
  overflow: hidden;
}

.nav li {
  float: left;
  width: 25%;
  padding-bottom: 10px;
}

.nav a {
  display: block;
  width: 100%;
  text-align: center;
}

.nav img {
  width: 40px;
  height: 40px;
}

.nav span {
  display: block;
  margin-top: 5px;
}

/* 秒杀 */
.seckill {
  width: 100%;
  height: auto;
  padding:0 8px;
  background-color: #fff;
  margin-top: 5px;
  box-sizing: border-box;
}

.seckill .seckill-top {
  width: 100%;
  line-height: 1;
  padding: 10px 0;
  overflow: hidden;
}

.seckill .seckill-top h2 {
  position: relative;
  float: left;
  margin-left: 22px;
  font-size: 14px;
  color:#c91523;
  font-weight: normal;

}

.seckill .seckill-top h2::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -22px;
  width: 20px;
  height: 26px;
  background-image: url("../image/jd-sprites.png");
  background-size: 200px 200px;
  background-position: -84px -107px;
}

.seckill .seckill-top .seckill-time {
  float: left;
  margin-left: 10px;
}

.seckill .seckill-time span {
  display: block;
  float: left;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  padding-top:1px;
} 

.seckill .seckill-time span:nth-child(3n) {
  background-color: #fff;
  color: #000;
  margin: 0 2px;
}

.seckill .seckill-time span:nth-child(3n+1) {
  padding-left: 2px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*  3n-1的效果和3n+2是一样 */
.seckill .seckill-time span:nth-child(3n+2) {
  padding-right: 2px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.seckill .seckill-top .seckill-more {
  position: relative;
  top: 3px;
  float: right;
  margin-right: 10px;
  font-size: 12px;
  line-height: 15px;
}

/* .seckill-more 和after 是同一级还是 不同级
    .seckill-more可以理解成after的父元素,但是实际上并不是

    为什么after是叫伪元素呢? after不在真实的dom树上
    通过之前用js获取元素的方法不能操作
*/

.seckill .seckill-top .seckill-more::after {
  content: '';
  position: absolute;
  top:1px;
  right:-10px;
  width: 7px;
  height: 12px;
  background-image: url("../image/jd-sprites.png");
  background-size: 200px 200px;
  background-position: -186px -51px;
}

.seckill .seckill-bottom  {
  width: 100%;
  margin-top: 10px;
}

.seckill .seckill-bottom  ul {
  width: 100%;
  overflow: hidden;
}

.seckill .seckill-bottom  li {
  float: left;
  width: 33.333333%;
  padding: 0 10px;
  box-sizing: border-box;
}

.seckill .seckill-bottom  a {
  display: block;
  width: 100%;
  position: relative;
}

.seckill .seckill-bottom  img {
  width: 100%;
  vertical-align: middle;
}

.seckill .seckill-bottom  b {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: orange;
  padding: 4px 5px;
  border-radius: 50%;
  line-height: 1;
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.seckill .seckill-bottom .price {
  width: 100%;
  margin-top: 5px;
}

.seckill .seckill-bottom .price span {
  display: block;
  text-align: center;
  font-size: 14px;
}

.seckill .seckill-bottom .price span.new-price {
  color:#c91523;
}

.seckill .seckill-bottom .price span.old-price {
  font-size: 12px;
  margin: 5px 0;
  margin-bottom: 10px;
  text-decoration: line-through;
}


/* 会场 */
.meeting {
  width: 100%;
  position: relative;
}

.meeting img {
  width: 100%;
  /* 去除图片3像素距离 */
  vertical-align: middle;
}

.meeting ul {
  position: absolute;
  bottom: 8px;
  left: 0;
  width:100%;
  overflow: hidden;
  padding: 0 8px;
  box-sizing: border-box;
}

.meeting li {
  float: left;
  width: 50%;
}

/* 热卖 */
.hotsale {
  width: 100%;
}

.hotsale ul {
  width: 100%;

}

.hotsale li {
  width: 100%;
  overflow: hidden;
}
.hotsale li a {
  float: left;
  display: block;
  width: 50%;
}
.hotsale li img {
  width: 100%;
  vertical-align: middle;
}
.hotsale li:nth-child(1) a {
  width: 33.333333%;
}

/* 广告 */
.advert {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* 特色超市 */
.market,.theme {
  width: 100%;
  background-color: #fff;
}

.market h2,.theme h2 {
  width: 100%;
  font-size: 16px;
  color:#c91523;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  padding-left: 8px;
  box-sizing: border-box;
}

.market ul {
  width: 100%;
  overflow: hidden;
}

.market li {
  float: left;
  width: 50%;
}

.market li:nth-child(4) {
  clear:both;
}

.market li a {
  display: block;
}

/* 主题街 */
.theme ul {
  width: 100%;
}

.theme li {
  width: 100%;
  /* font-size: 0; */
  overflow: hidden;

}
.theme li a {
  float: left;
  width: 25%;
}

.theme li:first-child a{
  float: left;
  /* display: inline-block; */
  /* vertical-align: top; */
  width: 50%;
}
.theme li:first-child a:nth-child(3),.theme li:first-child a:nth-child(4) {
  width: 25%;
}

/* 品牌推荐 */
.brand {
  width: 100%;
  background-color: #fff;
}

.brand ul {
  width: 100%;
  overflow: hidden;
}

.brand li {
  width: 30%;
  float: left;
}

.brand li:first-child {
  width: 40%;
}

/* 猜你喜欢 */
.guess {
  width: 100%;
 
  box-sizing: border-box;
  background-color: #fff;

}

.guess .guess-top {
  height: 34px;
  width:100%;
  padding: 0 8px;
  box-sizing: border-box;
}

.guess .guess-top h2 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  line-height: 34px;
}

.guess .guess-top .guess-login {
  float: right;
  line-height: 34px;
  color:#c91523;
  position: relative;
  margin-right: 10px;
}

.guess .guess-top .guess-login:before {
  content:'';
  position: absolute;
  top: 8px;
  left: -24px;
  width: 18px;
  height: 18px;
  background-image: url("../image/icon-login.png");
  background-size: 18px 18px;
}

.guess .guess-bottom {
  width: 100%;
  overflow: hidden;
}

.guess .guess-bottom .item {
  float: left;
  width: 50%;
  padding:0 8px;
  box-sizing: border-box;
}

.guess .item > a {
  display: block;
  width: 100%;
}

.guess .item p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 13px;
  line-height: 20px;
  height: 40px;
  margin-top: 8px;
}

.guess .item .price {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 6px;
  padding-top: 8px;
}

.guess .item .price span  {
  color:#c91523;
  font-size: 13px;
  line-height: 22px;
}

.guess .item .see-like {
  float: right;
  color: #ccc;
  border:1px solid #ccc;
  padding: 2px;
  border-radius: 3px;
}

/* 底部工具栏 */
/* .toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #fff;
}

.toolbar ul {
  width: 100%;
  height: 100%;
}

.toolbar ul li {
  float: left;
  width: 20%;
  height: 100%;
}

.toolbar ul a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.toolbar ul img {
  height: 44px;
  width:auto;
} */


/* 底部工具栏用flex实现 */
.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #fff;
  z-index: 10;
}

.toolbar ul {
  /* 伸缩容器 */
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
}

.toolbar ul li {
  /* 伸缩项目 */
  float: left;
  flex: 1;
  /* width: 20%; */
  
  /* height: 100%; */
}

.toolbar ul a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.toolbar ul img {
  height: 44px;
  width:auto;
}