@import "setting.css";
@import "reset.css";
@import "normalize.css";
body {
  background-color: #fff;
}
.wjs {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.aside {
  width: 240px;
  height: 100%;
  background: url('../../images/info_left_bg.jpg');
  -webkit-columns: #ccc;
     -moz-columns: #ccc;
          columns: #ccc;
}
.wjs-content {
  width: 100%;
  margin: 0 auto;
}
.wjs-top {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
}
.wjs-top .container {
  width: 980px;
  margin: 0 auto;
}
.wjs-top .container div {
  text-align: center;
  line-height: 40px;
  float: left;
  border-right: 1px solid #ccc;
}
.wjs-top .container div a {
  font-size: 12px;
}
.wjs-top .container div:last-child {
  border-right: none;
}
.wjs-top .container .top-phone {
  width: 228px;
}
.wjs-top .container .top-time {
  width: 325px;
}
.wjs-top .container .top-question {
  width: 180px;
}
.wjs-top .container .top-login {
  width: 242px;
}
.wjs-top .container .top-login .top-login-1 {
  padding: 3px 5px;
  background-color: #f81818;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
}
.wjs-nav {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.wjs-nav .wjs-top-banner {
  height: 64px;
  width: 980px;
  margin: 0 auto;
  line-height: 64px;
  padding: 0 15px;
}
.wjs-nav .wjs-top-banner img {
  float: left;
  width: 145px;
  vertical-align: middle;
  margin-top: 13px;
}
.wjs-nav .wjs-top-banner .left li {
  float: left;
  height: 64px;
  padding: 0 15px;
}
.wjs-nav .wjs-top-banner .left li:hover {
  border-bottom: 2px solid #e61e25;
}
.wjs-nav .wjs-top-banner .right li {
  float: right;
  padding: 0 15px;
  margin-right: 50px;
}
.wjs-nav .wjs-top-banner .right li:hover {
  border-bottom: 2px solid #e61e25;
}
.lunbo .swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.lunbo .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.lunbo .swipe-wrap > figure {
  float: left;
  width: 100%;
  position: relative;
}
.lunbo #slider {
  width: 100%;
  /* ���������Ŀ��� */
  margin: 0px auto
  /* ���ж��� */
}
.lunbo figure {
  margin: 0
  /* ���룬���ܿ��ȶ�Ϊ0�����ֲ���ʱ����������ͼƬ�����ƶ� */
}
.specialty {
  padding: 24px 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
.specialty dl {
  width: 33.33%;
  float: left;
}
.specialty dl dt {
  font-size: 18px;
  padding-bottom: 20px;
}
.specialty dl dd {
  font-size: 14px;
  margin-bottom: 10px;
}
.specialty dl span {
  font-family: cursive;
  font-size: 12px;
  margin-right: 5px;
  color: #666666;
}
.notify {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 15px 15px;
  overflow: hidden;
}
.notify .notify-content {
  width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}
.notify .notify-content .left {
  float: left;
  line-height: 15px;
  padding-top: 10px;
}
.notify .notify-content .left span {
  color: #efb513;
}
.notify .notify-content .left span a {
  color: #efb513;
}
.notify .notify-content .left p {
  display: inline-block;
}
.notify .notify-content .left p a {
  color: #428bca;
}
.notify .notify-content .right {
  float: right;
}
.notify .notify-content .right img {
  height: 38px;
  width: auto;
  vertical-align: middle;
}
.loan {
  width: 100%;
  padding: 20px 0;
  background-image: url(../../images/box-style-bg.png);
  border-top: 1px solid #c6cbcf;
}
.loan .loan-wrap {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.loan .tab-wrap {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.loan .tab-wrap ul {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: solid 1px #ccc;
}
.loan .tab-wrap ul li {
  float: left;
  padding: 15px 15px;
}
.loan .tab-wrap ul li:first-child {
  border-bottom: 2px solid #e61e25;
}
.loan .tab-wrap ul li:hover {
  border-bottom: 2px solid #e61e25;
}
.loan .intro {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  background-color: #fff;
  font-size: 13px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: relative;
}
.loan .intro b {
  position: absolute;
  top: -16px;
  left: 50px;
  display: block;
  width: 16px;
  height: 16px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.loan .items {
  width: 100%;
  padding: 10px 0;
  text-align: justify;
}
.loan .items:after {
  content: '';
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.loan .items .blank {
  display: inline-block;
  width: 31.5%;
  overflow: hidden;
}
.loan .items .item {
  position: relative;
  display: inline-block;
  width: 31.5%;
  height: 148px;
  background-color: #fff;
  padding: 10px 110px 10px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.loan .items .item-left dt {
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 10px;
}
.loan .items .item-left dd {
  overflow: hidden;
  margin-bottom: 10px;
}
.loan .items .item-left dd .l {
  float: left;
  margin-left: 10px;
}
.loan .items .item-left dd .r {
  float: right;
  margin-right: 10px;
}
.loan .items .item-left .small {
  font-size: 12px;
  color: #999;
}
.loan .items .item-left .big {
  font-size: 18px;
  color: #333;
}
.loan .items .item-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 100%;
  border-left: 1px dashed #333;
}
.loan .items .item-right span {
  display: inline-block;
  font-size: 12px;
}
.loan .items .item-right span:first-child {
  position: relative;
  right: -33px;
  top: 10px;
  border: 1px solid #399;
  width: 16px;
  height: 16px;
  color: #399;
  line-height: 16px;
}
.loan .items .item-right span:nth-child(2) {
  position: relative;
  right: -33px;
  top: 10px;
  border: 1px solid #f56854;
  width: 16px;
  height: 16px;
  color: #f56854;
  line-height: 16px;
}
.loan .items .item-right span:nth-child(3) {
  position: relative;
  right: 30px;
  top: calc(59px);
  font-size: 30px;
  color: #e61e25;
  font-weight: 700;
}
.loan .items .item-right span:nth-child(4) {
  position: relative;
  right: -81px;
  top: calc(38px);
  font-size: 16px;
  color: #e61e25;
}
.loan .items .item-right span:nth-child(5) {
  position: relative;
  right: -30px;
  top: calc(57px);
  font-size: 16px;
  color: #721786;
  font-weight: 700;
}
.loan .items .item-right span:nth-child(6) {
  position: relative;
  right: 7px;
  top: calc(73px);
  font-size: 12px;
  color: #ccc;
}
.news {
  max-width: 1170px;
  padding: 30px 0 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 20px;
}
.news .title {
  position: relative;
  width: 100px;
  line-height: 40px;
  float: left;
  text-align: center;
  font-size: 20px;
  margin-left: 110px;
  border-bottom: 1px solid #ccc;
}
.news .title:after {
  position: absolute;
  right: -10px;
  bottom: -5px;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.news .type {
  position: relative;
  float: left;
  margin-left: 40px;
}
.news .type span {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 35px;
}
.news .type span:hover {
  background-color: red;
}
.news .type span:last-child {
  margin-bottom: 0;
}
.news .type span #active {
  background-color: red;
}
.news .type:before {
  position: absolute;
  left: 27px;
  top: 0;
  content: '';
  height: 100%;
  width: 1px;
  border-left: 1px dashed #666;
  z-index: -1;
}
.news .list {
  float: left;
}
.news .list ul {
  margin-left: 40px;
}
.news .list li {
  font-size: 14px;
  line-height: 45px;
}
.footer {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
}
.footer ul {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
.footer ul li {
  line-height: 40px;
  display: inline-block;
}
.footer ul .footer-pre {
  margin-right: 5px;
}
.footer ul span {
  margin-right: 2px;
}
.footer .banquan {
  width: 100%;
  background-color: #666666;
}
.footer .banquan span {
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.footer .banquan ul {
  line-height: 30px;
}
.footer .banquan ul li {
  margin-bottom: 20px;
}
.footer .banquan img {
  height: 42px;
  width: auto;
  vertical-align: middle;
}
